extends layout

block content
  head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  title PEG_PROJECT
  body
    h1= title
    p Welcome to #{title}
    textarea#codigo(
      rows= '15'
      cols= '50'
    )

    button#PARSE(value='parse') Do it
    textarea#OUTPUT(
      readonly
      rows= '15'
      cols= '50'
    )
